body{
    background-color: rgb(1, 11, 67);
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.grid-container{
    width: 600px;
    margin: 50px auto;
    border: 5px solid #fff;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "nav main"
        "footer footer";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1.3fr;
}
header{
    grid-area: header;
    background-color: rgb(0, 142, 142);
    padding: 40px 0;
}
aside{
    grid-area: aside;
    background-color: #5b0a0a;
    padding: 60px 0;
}
nav{
    grid-area: nav;
    background-color: rgb(9, 86, 153);
    padding: 100px 0;
}
main{
    grid-area: main;
    background-color: #330561;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    grid-area: footer;
    background-color: #574444;
    padding: 20px 0;
}













































